.scrollable {
  height: 5000px;
}

#lock {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 120px;
  z-index: 2;
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.23);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay.visible {
  display: block;
}
